#main-page {
    display: flex;
    flex-direction: row-reverse;
  }

#main-page aside {
    width: 40vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #d32b42 0%, #fa8b41 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-page main {
    background: #FFFFFF;
    position: relative;
    
}

form {
    width: 700px;
    margin: 64px auto;
  
    background: #FFFFFF;
    /* border: 1px solid #D3E2E5; */
    border-radius: 20px;
  
    padding: 64px 80px;
    margin-top: 200px;

    overflow: hidden;
}
  
form fieldset {
    border: 0;
}
  
form fieldset legend {
    width: 100%;
  
    font-size: 32px;
    line-height: 34px;
    color: #161616;
    font-weight: 700;
  
    /* border-bottom: 1px solid #D3E2E5; */
    margin-bottom: 40px;
    padding-bottom: 24px;
}
  
form .input-block + .input-block {
    margin-top: 24px;
}
  
form .input-block label {
    display: flex;
    color: #494949;
    margin-bottom: 8px;
    line-height: 24px;
}
  
form .input-block label span {
    font-size: 14px;
    color: #494949;
    margin-left: 24px;
    line-height: 24px;
}

form .input-block input {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #494949;
}
  
form .input-block input {
    height: 64px;
    padding: 0 16px;
}

form button.confirm-button {
    margin-top: 64px;
  
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #fa8b41;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 18px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
}
  
form button.confirm-button svg {
    margin-right: 16px;
}
  
form button.confirm-button:hover {
    background: #d66800;
}

form .lembrar-senha {
    display: flex;
    justify-content: space-between;
}

form .lembrar-senha .checkbox-container {
    display: flex;
    justify-content: center;
}

form .lembrar-senha input.checkbox {
    width: 24px;
    height: 24px;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 8px;
    display: inline;
    cursor: pointer;
    /* #8FA7B3; */
}

form .lembrar-senha label {
    /* display: inline; */
    margin-left: 14px;
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

form .input-block .error {
    width: 100%;
    /* background: #c50000; */
    border: 1px solid #db0c2f;
    border-radius: 20px;
    outline: none;
    color: #c50000;
}

form .input-block label {
    display: flex;
    justify-content: space-between;
}

form .input-block .error-msg{
    color: #c50000;
    margin-right: 20px;
}