* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --color-primary: #d32b42;
  --color-secondary: #fa8b41;
  --size-text: 18px;
  scroll-behavior: smooth;
} 

body {
  color: #fff;
} 

body, input, button, textarea {
  font: 300 16px Montserrat, Nunito, sans-serif;
}

.gradient {
  background: linear-gradient(329.54deg, #d32b42 0%, #fa8b41 100%);
}